<a href="https://colab.research.google.com/github/maxigaarp/Gestion-De-Datos-en-R/blob/main/RSQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
system("gdown https://drive.google.com/uc?id=1-4yIBsv8Z1aAz8kMRbMC4OXEe7kVZ_td")
system("gdown https://drive.google.com/uc?id=1-OqMYeOe-f4u1VbU1H0sCSGSK5PsAh30")
system("gdown https://drive.google.com/uc?id=1-IbkHHJyxxnhlKb7dCbw5nOq_imr4qrg")

In [3]:
system("gdown https://drive.google.com/uc?id=1-4yIBsv8Z1aAz8kMRbMC4OXEe7kVZ_td")

In [2]:
install.packages("RSQLite")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘bit’, ‘bit64’, ‘plogr’

In [ ]:
library("DBI")
library("RSQLite")

# Primera base de datos: Autos

In [ ]:
data("mtcars")
mtcars

In [ ]:
mtcars$car_names <- rownames(mtcars)
rownames(mtcars) <- c()
head(mtcars)

In [ ]:
conn <- dbConnect(RSQLite::SQLite(), "CarsDB.db")

In [ ]:
dbWriteTable(conn, "cars_data", mtcars)

dbListTables(conn) #lista de tablas

In [ ]:
  # Create toy data frames
car <- c('Camaro', 'California', 'Mustang', 'Explorer')
make <- c('Chevrolet','Ferrari','Ford','Ford')
df1 <- data.frame(car,make)
car <- c('Corolla', 'Lancer', 'Sportage', 'XE')
make <- c('Toyota','Mitsubishi','Kia','Jaguar')
df2 <- data.frame(car,make)


dbWriteTable(conn,"Cars_and_Makes", df1)

dbWriteTable(conn,"Cars_and_Makes", df2, append = TRUE)

# List all the Tables
dbListTables(conn)

In [ ]:
dbWriteTable(conn,"Cars_and_Makes", df1)

In [ ]:
dbGetQuery(conn, "SELECT * FROM Cars_and_Makes")

In [ ]:
dbWriteTable(conn,"Cars_and_Makes", df2, append = TRUE)

In [ ]:
dbGetQuery(conn, "SELECT * FROM Cars_and_Makes")

In [ ]:
dbExecute(conn, "DELETE FROM cars_data WHERE car_names = 'Mazda RX4'")

In [ ]:
dbGetQuery(conn, "SELECT * FROM cars_data")

In [ ]:
dbExecute(conn, "INSERT INTO cars_data VALUES (21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,'Mazda RX4')")

In [ ]:
dbGetQuery(conn, "SELECT * FROM cars_data")

In [ ]:
mpg <-  18
cyl <- 6

Result <- dbGetQuery(conn, 'SELECT car_names, mpg, cyl FROM cars_data WHERE mpg >= ? AND cyl >= ?', params = c(mpg,cyl))

In [ ]:
Result

In [ ]:
dbDisconnect(conn)

Ahora trabajen ustedes con las bases de datos. Programen un codigo que haga lo siguiente:

 * Crear base de datos "viajes.db".
 * Crear una esta base de datos para registrar viajes largos entre ciudades por métodos no convencionales (no auto, ni bus). Deben incluir una tabla para:
  * Ciudad: con la cantidad de campings y visitantes del año 2020. 
  * Caminos: entre ciudades, con numero de KM entre ellas. 
  * Viajeros: con su metodo de transporte y nombre 
Y una cuarta base para poder registrar el itinerario y extraer la velocidad promedio.
 * Introduzcan un itinerario por la Carretera Austral con a lo menos 5 paradas en la base de datos.
 * Escriba las siguientes consultas:
  * Obtener la velocidad promedio de desplazamiento por usuario
  * Obtener camino más transitado.
  * Dias alojados en cada ciudad para el total de viajeros.
  * Metodo de transporte mas utilizado.

# Segunda base de datos: Actores y Peliculas

In [ ]:
conn <- dbConnect(RSQLite::SQLite(), "imdb.db")
dbListTables(conn)

In [ ]:
dbExecute(conn, "CREATE TABLE Peliculas (id int,nombre varchar(20),año int DEFAULT(YEAR(GETDATE())),categoria varchar(20),director varchar(20) ,calificacion float,  PRIMARY KEY (id));")

In [ ]:
dbGetQuery(conn, "PRAGMA table_info(Peliculas)")

In [ ]:
dbExecute(conn, "ALTER TABLE Peliculas DROP calificacion")

In [ ]:
dbExecute(conn, "ALTER TABLE Peliculas ADD COLUMN calificacion")

In [ ]:
peliculas<- read.csv("/content/peliculas.csv")

In [ ]:
dbWriteTable(conn,"Peliculas", peliculas,append = TRUE)

In [ ]:
dbGetQuery(conn, "select * from Peliculas")

In [ ]:
actuo_en<- read.csv("/content/actuo_en.csv")
actor<- read.csv("/content/actor.csv")

In [ ]:
dbExecute(conn, "CREATE TABLE Actores (id int PRIMARY KEY, nombre varchar(20), edad int)")
dbWriteTable(conn,"Actores", actor,append = TRUE)

In [ ]:
dbExecute(conn, "CREATE TABLE Actuo_en (id_actor int ,id_pelicula int, nombre_personaje varchar(20), CONSTRAINT fk_column FOREIGN KEY (id_actor) REFERENCES actor(id),CONSTRAINT fk_column FOREIGN KEY (id_pelicula) REFERENCES peliculas(id))")
dbWriteTable(conn,"Actuo_en", actuo_en, append = TRUE)

In [ ]:
dbGetQuery(conn, "PRAGMA table_info(Actuo_en)")

In [ ]:
dbExecute(conn, "PRAGMA foreign_keys = ON;")

In [ ]:
dbGetQuery(conn,"select * from Actuo_en")

In [ ]:
dbExecute(conn,"INSERT INTO Actuo_en VALUES (10,10,'El Bicho')")

In [ ]:
dbGetQuery(conn, "")

# Tercera base de datos

In [ ]:
conn <- dbConnect(RSQLite::SQLite(), "riiid.db")
dbListTables(conn)

In [ ]:
dbWriteTable(conn , name = "train", 
                  value = "/content/train.csv",
                  row.names = FALSE, header = T, sep=',',
                  colClasses='character')

In [ ]:
dbWriteTable(conn , name = "questions", 
                  value = "/content/questions.csv",
                  row.names = FALSE, header = T, sep=',',
                  colClasses='character')

In [ ]:
dbWriteTable(conn , name = "lectures", 
                  value = "/content/lectures.csv",
                  row.names = FALSE, header = T, sep=',',
                  colClasses='character')

In [ ]:
dbGetQuery(conn,"select * from train limit 100")

In [ ]:
dbGetQuery(conn, "SELECT
    user_id,
    content_id,
    answered_correctly, 
    LAG(answered_correctly) OVER (
        PARTITION BY user_id 
        ORDER BY (timestamp)) as prev_answered_correctly,
    AVG(answered_correctly) OVER (PARTITION BY user_id) 
        AS mean_answered,
    count(answered_correctly) OVER (PARTITION BY user_id)
FROM
    train
    Limit 1000;") # esto toma aproximadamente 10 min

In [ ]:
install.packages("tictoc")
library(tictoc)

In [ ]:
tic()
query <- dbSendQuery(conn, "
SELECT
    user_id,
    content_id,
    answered_correctly, 
    LAG(answered_correctly) OVER (
        PARTITION BY user_id 
        ORDER BY (timestamp)) as prev_answered_correctly,
    AVG(answered_correctly) OVER (PARTITION BY user_id) 
        AS mean_answered,
    count(answered_correctly) OVER (PARTITION BY user_id)
FROM
  train")
toc()

In [ ]:
tic()
query <- dbSendQuery(conn, "SELECT * FROM train;")
toc()

In [ ]:
dbFetch(query,n=100)

In [ ]:
DBI::dbHasCompleted(query)

In [ ]:
DBI::dbDisconnect(conn)