<a href="https://colab.research.google.com/github/maxigaarp/Gestion-De-Datos-en-R/blob/main/sample_study_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
system("gdown https://drive.google.com/uc?id=1-4yIBsv8Z1aAz8kMRbMC4OXEe7kVZ_td")
system("gdown https://drive.google.com/uc?id=1-OqMYeOe-f4u1VbU1H0sCSGSK5PsAh30")
system("gdown https://drive.google.com/uc?id=1-IbkHHJyxxnhlKb7dCbw5nOq_imr4qrg")

In [ ]:
train<-read.csv("/content/train.csv")
lectures<-read.csv("/content/lectures.csv")
questions<-read.csv("/content/questions.csv")

In [2]:
install.packages('bit64')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘bit’

In [4]:
library(bit64)
library(data.table)
library(tidyverse)

Loading required package: bit


Attaching package: ‘bit’


The following object is masked from ‘package:base’:

    xor


Attaching package bit64

package:bit64 (c) 2011-2017 Jens Oehlschlaegel

creators: integer64 runif64 seq :

coercion: as.integer64 as.vector as.logical as.integer as.double as.character as.bitstring

logical operator: ! & | xor != == < <= >= >

arithmetic operator: + - * / %/% %% ^

math: sign abs sqrt log log2 log10

math: floor ceiling trunc round

querying: is.integer64 is.vector [is.atomic} [length] format print str

values: is.na is.nan is.finite is.infinite

aggregation: any all min max range sum prod

cumulation: diff cummin cummax cumsum cumprod

access: length<- [ [<- [[ [[<-

combine: c rep cbind rbind as.data.frame

WARNING don't use as subscripts

WARNING semantics differ from integer

for more help type ?bit64


Attaching package: ‘bit64’


The following objects are masked from ‘package:base’:

    :, %in%, is.double, match, order, rank



Attaching package: ‘data.table’


The following object is masked from ‘package:bit’:

    setattr


Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::between()   masks data.table::between()
✖ dplyr::filter()    masks stats::filter()
✖ dplyr::first()     masks data.table::first()
✖ dplyr::lag()       masks stats::lag()
✖ dplyr::last()      masks data.table::last()
✖ purrr::transpose() masks data.table::transpose()

In [5]:
fig <- function(width, heigth){
     options(repr.plot.width = width, repr.plot.height = heigth)
}

#

[1] 5e+06

In [6]:
train<-as.data.frame(fread("/content/train.csv", nrows=5e6))
lectures<-as.data.frame(fread("/content/lectures.csv"))
questions<-as.data.frame(fread("/content/questions.csv"))

In [7]:
train

        row_id  timestamp  user_id   content_id content_type_id
1        0           0     115       5692       0
2        1       56943     115       5716       0
3        2      118363     115        128       0
4        3      131167     115       7860       0
5        4      137965     115       7922       0
6        5      157063     115        156       0
7        6      176092     115         51       0
8        7      194190     115         50       0
9        8      212463     115       7896       0
10       9      230983     115       7863       0
11      10      255381     115        152       0
12      11      280033     115        104       0
13      12      302994     115        108       0
14      13      328686     115       7900       0
15      14      352686     115       7901       0
16      15      376162     115       7971       0
17      16      398020     115         25       0
18      17      418008     115        183       0
19      18      437272     115       7926       0
20      19      468511     115       7927       0
21      20      490100     115          4       0
22      21      510583     115       7984       0
23      22      534187     115         45       0
24      23      557677     115        185       0
25      24      575289     115         55       0
26      25      597863     115       7876       0
27      26      621464     115          6       0
28      27      645415     115        172       0
29      28      670520     115       7898       0
30      29      692971     115        175       0
⋮       ⋮       ⋮          ⋮         ⋮          ⋮
4999971 4999970 3116514453 106763796 3854       0
4999972 4999971 3116600395 106763796 5565       0
4999973 4999972 3116654062 106763796 4499       0
4999974 4999973 3116695641 106763796 9095       0
4999975 4999974 3116724973 106763796 5207       0
4999976 4999975 3116760943 106763796 4860       0
4999977 4999976 3116786019 106763796 4417       0
4999978 4999977 3116825160 106763796 8538       0
4999979 4999978 3628970672 106763796 3852       0
4999980 4999979 3634375196 106763796  446       0
4999981 4999980 3634414624 106763796 1003       0
4999982 4999981 3634442878 106763796 1099       0
4999983 4999982 3634479762 106763796 1335       0
4999984 4999983 3634516010 106763796 1109       0
4999985 4999984 3634545199 106763796  494       0
4999986 4999985 3634571173 106763796 1353       0
4999987 4999986 3634614044 106763796 1152       0
4999988 4999987 3634658976 106763796  465       0
4999989 4999988 3634700046 106763796  969       0
4999990 4999989 3721434216 106763796 4501       0
4999991 4999990 3721452050 106763796 4340       0
4999992 4999991 3721474991 106763796 8348       0
4999993 4999992 3936486350 106763796 5701       0
4999994 4999993 4062838081 106763796  791       0
4999995 4999994 4151508495 106763796 6258       0
4999996 4999995 4151535711 106763796 3610       0
4999997 4999996 4151558505 106763796 8907       0
4999998 4999997 4151583786 106763796 4039       0
4999999 4999998 4231505166 106763796  996       0
5000000 4999999 4231566399 106763796  471       0
        task_container_id user_answer answered_correctly
1        1                3           1
2        2                2           1
3        0                0           1
4        3                0           1
5        4                1           1
6        5                2           1
7        6                0           1
8        7                3           1
9        8                2           1
10       9                0           1
11      10                2           0
12      11                1           0
13      12                1           0
14      13                0           1
15      14                1           1
16      15                2           1
17      16                1           1
18      17                0           0
19      18                1           1
20      19                3           1
21      20                1           0
22      21                3           0
23      22                2           0
24      23                3           0
25      24                3           1
26      25                3           1
27      26                2           1
28      27                1           1
29      28                2           1
30      29                0           0
⋮       ⋮                 ⋮           ⋮
4999971 287               2           1
4999972 288               2           0
4999973 289               3           1
4999974 290               3           1
4999975 291               2           0
4999976 292               3           1
4999977 293               0           1
4999978 294               3           1
4999979 295               2           0
4999980 297               1           1
4999981 298               0           1
4999982 299               3           1
4999983 300               1           0
4999984 301               3           1
4999985 302               3           1
4999986 303               0           1
4999987 304               3           0
4999988 305               1           1
4999989 306               0           1
4999990 296               0           0
4999991 307               1           1
4999992 308               2           0
4999993 309               0           0
4999994 310               0           0
4999995 311               2           0
4999996 312               1           1
4999997 313               3           1
4999998 314               2           1
4999999 316               0           1
5000000 317               1           0
        prior_question_elapsed_time prior_question_had_explanation
1          NA                          NA
2       37000                       FALSE
3       55000                       FALSE
4       19000                       FALSE
5       11000                       FALSE
6        5000                       FALSE
7       17000                       FALSE
8       17000                       FALSE
9       16000                       FALSE
10      16000                       FALSE
11      17000                       FALSE
12      22000                       FALSE
13      23000                       FALSE
14      21000                       FALSE
15      24000                       FALSE
16      22000                       FALSE
17      21000                       FALSE
18      20000                       FALSE
19      18000                       FALSE
20      17000                       FALSE
21      29000                       FALSE
22      20000                       FALSE
23      19000                       FALSE
24      21000                       FALSE
25      22000                       FALSE
26      16000                       FALSE
27      20000                       FALSE
28      22000                       FALSE
29      22000                       FALSE
30      23000                       FALSE
⋮       ⋮                           ⋮
4999971 27000                       TRUE
4999972 31000                       TRUE
4999973 39000                       TRUE
4999974 29000                       TRUE
4999975 23000                       TRUE
4999976 16000                       TRUE
4999977 22000                       TRUE
4999978 13000                       TRUE
4999979 16000                       TRUE
4999980 18000                       TRUE
4999981 21000                       TRUE
4999982 24000                       TRUE
4999983 18000                       TRUE
4999984 25000                       TRUE
4999985 26000                       TRUE
4999986 20000                       TRUE
4999987 18000                       TRUE
4999988 21000                       TRUE
4999989 24000                       TRUE
4999990 23000                       TRUE
4999991  3000                       TRUE
4999992  6000                       TRUE
4999993 11000                       TRUE
4999994  9000                       TRUE
4999995 21000                       TRUE
4999996 21000                       TRUE
4999997 19000                       TRUE
4999998 12000                       TRUE
4999999 13000                       TRUE
5000000 18000                       TRUE

# Explorando los datos

## El operador pipe %>%

Es útil concatenar operaciones de dplyr. Ejemplo, digamos que necesitamos aplicar mas de una función, la instrucción seria:

```
tercero(segundo(primero(data)))
```

En cambio usando el operador pipe nos permite escribir una secuencia de operaciones de izquierda a derecha:

```
primero(data) %>% segundo() %>% third()
```
o

```
data %>% primero() %>% segundo() %>% third()
```

Ejemplo:

In [ ]:
summary(train)

In [ ]:
train %>% summary()

Segundo ejemplo:

In [ ]:
top_users <- top_n(count(train,user_id),10) 

top_users

In [ ]:
top_users <- train %>%
    count(user_id) %>%
    top_n(10)
    
top_users

Continuemos el analisis

In [ ]:
filter(train, timestamp==0)

In [ ]:
range(train$timestamp) / (1000 * 60 * 60 * 24 * 360)

In [ ]:
train_user_dur <- train %>%
    group_by(user_id) %>% # la base de datos tiene como indice ahora user_id
    summarise(dur = max(timestamp) / (1000 * 60 * 60 * 24)) # se le aplica la funcion max(timestamp) para cada una de las tuplas para los usuarios

train_user_dur

In [ ]:
train_user_dur %>%
    ggplot() +
    geom_histogram(aes(x = dur))

In [ ]:
train_user_dur %>%
    mutate(dur_rd = round(dur)) %>%
    count(dur_rd) %>%
    mutate(dur_pct = n / sum(n)) %>%
    filter(dur_rd < 8) %>%
    summarise(sum(dur_pct))

In [ ]:
train_user_ans <- train %>%
    filter(content_type_id == 0) %>% # filtrando solo las preguntas
    group_by(user_id) %>%
    summarise(correct_ans = sum(answered_correctly), # numero de respuestas correctas
              ans = n()) # numero de preguntas que ha respondido

#n() <- el tamaño del grupo

In [ ]:
(user_dur_ans <- inner_join(train_user_dur, train_user_ans, by = "user_id")) %>%
    ggplot() +
    geom_point(aes(x = dur, y = correct_ans / ans))

In [ ]:
user_dur_ans %>%
    filter(round(dur) == 0) %>%
    ggplot() +
    geom_histogram(aes(x = correct_ans/ans), fill = 'white', color = 'black')

In [ ]:
train_user_ot <- train %>%
    filter(content_type_id == 0) %>%
    group_by(user_id) %>%
    summarise(correct_pct_1 = sum(ifelse(row_number() <= (n() / 2), answered_correctly, 0)) / sum(ifelse(row_number() <= (n() / 2), 1, 0)),
              correct_pct_2 = sum(ifelse(row_number() >  (n() / 2), answered_correctly, 0)) / sum(ifelse(row_number() >  (n() / 2), 1, 0))) %>%
    inner_join(user_dur_ans, by = "user_id")

In [ ]:
train_user_ot %>%
    ggplot() +
    geom_point(aes(x = correct_pct_2 - correct_pct_1, y = dur))

In [ ]:
train_user_ot<-train_user_ot%>%mutate(ans_corr_chg= correct_pct_2 - correct_pct_1)
train_user_ot

In [ ]:
mean(train_user_ot$ans_corr_chg,na.rm = TRUE)

In [ ]:
fig(12,10)

train_user_ot %>%
    filter(ans <= 120) %>%
    ggplot(aes(x = ans)) +
    geom_bar()

In [ ]:
train_user_ot %>%
    filter(ans >= 30) %>%
    ggplot() +
    geom_point(aes(x = correct_pct_2 - correct_pct_1, y = dur))

In [ ]:
train_user_ot %>% filter(ans>=30) %>%
              summarise(Mean = mean(ans_corr_chg,na.rm = TRUE))

In [ ]:
train_lect <- train %>%
    group_by(user_id) %>%
    summarise(lectures = sum(ifelse(content_type_id == 1, 1, 0)),
              lectures_1 = sum(ifelse(row_number() <= (n() / 2) & content_type_id == 1, 1, 0)),
              lectures_2 = sum(ifelse(row_number() >  (n() / 2) & content_type_id == 1, 1, 0)))

train_user_ot_lect <- inner_join(train_user_ot, train_lect, by = 'user_id')

In [ ]:
train_user_ot_lect

In [ ]:
fig(18,18)

train_user_ot_lect %>%
    mutate(lec_view_chg = lectures_2 - lectures_1,
           year_act_fct = factor(round(dur / 365))) %>%
    ggplot() +
    geom_point(aes(x = ans_corr_chg, y = lec_view_chg, color = year_act_fct), alpha = 0.25) +
    facet_grid(year_act_fct~., scales = 'free')

In [ ]:
train_corr_ans_ot <- train %>%
    filter(content_type_id == 0) %>%
    group_by(user_id) %>%
    mutate(corr_pct = cumsum(answered_correctly) / row_number(),
           day = ifelse(timestamp != 0, (timestamp - min(timestamp)) / (1000 * 60 * 60 * 24), 0),
           day = round(day)) %>%
    ungroup() %>%
    group_by(user_id, day) %>%
    summarise(corr_pct = mean(corr_pct))

In [ ]:
train_corr_ans_ot

In [ ]:
zero_dayers <- train_corr_ans_ot %>% 
    count(user_id) %>% 
    filter(n < 2) %>%
    select(user_id) 

list(zero_dayers$user_id)

In [ ]:

non_z_dayers <- train_corr_ans_ot %>% 
    anti_join(zero_dayers,by="user_id") %>% 
    select(user_id)
    
non_z_dayers

In [ ]:
sample(nrow(non_z_dayers), 1000)

In [ ]:
train_corr_ans_ot %>%
    filter(user_id %in% sample(non_z_dayers$user_id, 1000) & day > 3)

In [ ]:
train_corr_ans_ot %>%
    filter(user_id %in% sample(non_z_dayers$user_id, 1000) & day > 3) %>%
    ggplot() +
    geom_line(aes(x = day, y = corr_pct), alpha = 0.5)

In [ ]:
questions %>% head()

In [ ]:
lectures %>% head()

In [ ]:
# son disjuntas?

# Entrenemos un modelo

In [ ]:
train_questions <-  train %>% 
                    filter(content_type_id==0) %>%
                    inner_join(questions, by=c("content_id"="question_id"))

train_lectures <- train %>% 
                  filter(content_type_id==1) %>%
                  inner_join(lectures, by=c("content_id"="lecture_id"))

In [ ]:
X <- train_questions %>%
      group_by(user_id) %>%
      mutate(answered_correctly_user = mean(answered_correctly, na.rm=TRUE),
              Total_Answer_Correct = sum(answered_correctly, na.rm=TRUE)) %>%
      ungroup() %>%
      group_by(content_id) %>%
      mutate(answered_correctly_content = mean(answered_correctly, na.rm=TRUE)) %>%
      ungroup()

In [ ]:
X$prior_question_had_explanation_enc <- as.numeric(X$prior_question_had_explanation)
X$prior_question_had_explanation_enc[is.na(X$prior_question_had_explanation_enc)] <- 0
X$prior_question_had_explanation_enc<- X$prior_question_had_explanation_enc


target <- as.numeric(copy(X$answered_correctly))


 X<-X %>% select(answered_correctly_user, answered_correctly_content, Total_Answer_Correct,
      prior_question_elapsed_time, prior_question_had_explanation_enc, part)

categorical_feature <- c("prior_question_had_explanation_enc", "part")

In [ ]:
X

In [ ]:
install.packages("caret")
install.packages("Matrix")
install.packages("lightgbm")
install.packages("reticulate")

In [ ]:
library(caret)
library(Matrix)
library(lightgbm)
library(pROC)
library(reticulate)

In [ ]:
tri <- createDataPartition(target, p = 0.80, list = F) %>% c()

dval <- Matrix(as.matrix(X[-tri,]),sparse=TRUE)
train <- Matrix(as.matrix(X[tri,]),sparse=TRUE)


train = lgb.Dataset(data=train,label=target[tri],categorical_feature =categorical_feature)
dval = lgb.Dataset(data=dval,label=target[-tri],categorical_feature =categorical_feature)

In [ ]:
lgb.grid = list(objective = "binary"
    ,num_boost_round=10000
    ,metric="auc"
)

    lgb.model <- lgb.train(
  params = lgb.grid
  , data = train
  , valids = list(val = train,val1 = dval)
  , lambda_l1 = 9.277442449206187e-06
  , lambda_l2 = 5.145214812238188e-06
  , feature_fraction = 0.7
  , bagging_fraction = 0.6696041270563738
  , bagging_freq = 3
  , min_child_samples =20
  , learning_rate = 0.02
  , num_leaves = 43
  , early_stopping_rounds = 10
  , eval_freq = 10
) 

tree_imp <- lgb.importance(lgb.model, percentage = TRUE)
 lgb.plot.importance(tree_imp, top_n = 50, measure = "Gain")